name: "Housekeeping"
on:
  push:
    branches:
      - master
      - release/*
  pull_request:
    branches:
      - master

jobs:
  format:
    name: "used mix format"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: erlef/setup-beam@v1
        with:
          otp-version: 27.3
          elixir-version: 1.19.3
      - run: mix deps.get
      - run: mix compile
      - run: ./test/check_formatted.sh

  no_deps_compiler_warnings:
    name: "compiling deps shows no compiler warnings (optional)"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: erlef/setup-beam@v1
        with:
          otp-version: 27.3
          elixir-version: 1.19.3
      - run: mix deps.get
      - run: mix deps.compile 2>&1 | ./test/error_if_warnings.sh
